Libraries

In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

Import Data

In [47]:
data=pd.read_csv('train.csv')
data=pd.DataFrame(data)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Info About Data

In [17]:
data.shape

(891, 12)

In [18]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [19]:
print(data.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
print(data.duplicated().sum())

0

In [7]:
print(data.nunique())

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

Data Cleaning

In [48]:
data['Age'] = data['Age'].fillna(data['Age'].median())
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])
data['FamilySize'] = data['SibSp'] + data['Parch']
data['IsAlone'] = (data['FamilySize'] == 0).astype(int)
data['AgeBin'] = pd.cut(data['Age'], bins=[0, 12, 20, 40, 60, 80], labels=[1, 2, 3, 4, 5])
data['FareBin'] = pd.qcut(data['Fare'], 4, labels=[1, 2, 3, 4])
data = data.drop(['Cabin', 'Ticket', 'Name'], axis=1)
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data['Embarked'] = data['Embarked'].map({'C': 0, 'Q': 1, 'S': 2})

print("Data cleaning and preprocessing completed!")
data.head()

Data cleaning and preprocessing completed!

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,AgeBin,FareBin
0,1,0,3,0,22.0,1,0,7.2500,2,1,0,3,1
1,2,1,1,1,38.0,1,0,71.2833,0,1,0,3,4
2,3,1,3,1,26.0,0,0,7.9250,2,0,1,3,2
3,4,1,1,1,35.0,1,0,53.1000,2,1,0,3,4
4,5,0,3,0,35.0,0,0,8.0500,2,0,1,3,2

Splitting Data Into Training And Testing Sets

In [49]:
X = data.drop('Survived', axis=1)
y = data['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Data successfully split into training and testing sets!")
print(f"Training set size: {X_train.shape}, Testing set size: {X_test.shape}")

Data successfully split into training and testing sets!
Training set size: (712, 12), Testing set size: (179, 12)

Training The Model

In [50]:
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)
print("Model training completed!")

Model training completed!

Making Predictions

In [51]:
y_pred = model.predict(X_test)
print("Predictions completed!")

Predictions completed!

Calculating Accuracy

In [52]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Model accuracy: {accuracy:.2f}")

Model accuracy: 0.84